<div id="section-footer">
  <div class="text">
    <h1 class="title">BRAZILIAN VEST</h1>
    <p class="description">
      Here you find the bests clothes from the world.
    </p>
    <div class="icons">
      <span
        class="iconify icon"
        data-icon="simple-icons:picpay"
        data-inline="false"
      ></span>
      <span
        class="iconify icon"
        data-icon="bi:credit-card"
        data-inline="false"
      ></span>
      <span
        class="iconify icon"
        data-icon="simple-line-icons:paypal"
        data-inline="false"
      ></span>
    </div>
  </div>
</div>
